{% extends "personal/header.html" %}

{% block content %}

<div style="text-align: center;">
	<h2>BMOBR-06</h2>
    <br><br>
    <div class="col-sm-10" id="mapa"></div>
    <img style="width: 80%" src="http://okesat.com.br/cf2/fig/loc.png">
    <img style="width: 80%" src="http://okesat.com.br/cf2/fig/LIOc_CF02.png">
    <img style="width: 80%" src="http://okesat.com.br/cf2/fig/WaveField_Hs.png">
    <img style="width: 80%" src="http://okesat.com.br/cf2/fig/WaveField_Tp.png">
</div>


{% endblock %}