{% extends "personal/header.html" %}

{% block content %}

<style  >
p {
	style="font-size:100%;"
}
</style>

<div align="justify">
	<p>A REMO é um esforço brasileiro em oceanografia física e oceanografia operacional realizado por um grupo de pesquisadores, técnicos e estudantes associados a universidades, centros de pesquisa e à Marinha do Brasil, financiados pela Petrobras e pela Agência Nacional do Petróleo, Gás Natural e Biocombustíveis (ANP). Participam hoje da REMO a Universidade Federal do Rio Grande (FURG), a Universidade Federal do Rio de Janeiro (UFRJ), a Universidade Federal da Bahia (UFBA), a Universidade de São Paulo (USP), o Centro de Hidrografia da Marinha (CHM), o Instituto de Estudos do Mar Almirante Paulo Moreira (IEAPM) e o Centro de Pesquisas e Desenvolvimento Leopoldo Miguez de Mello da Petrobras (CENPES).</p>

	<p>O objetivo geral da REMO é o desenvolvimento de ciência e tecnologia em oceanografia física, modelagem oceânica, oceanografia observacional e oceanografia operacional com assimilação de dados.  Busca-se especificamente: (i) a melhoria do entendimento da circulação e variabilidade de meso- e larga-escala do Oceano Atlântico Sul e tropical nas escalas intrasazonal a interanual; (ii) a produção de previsões oceânicas de curto-prazo e a melhoria da previsibilidade; (iii) o desenvolvimento de métodos de assimilação de dados; e (iv) a produção de informações oceanográficas de alta qualidade para suporte a atividades da indústria do petróleo, da Marinha do Brasil e  de outros setores que demandem informações oceanográficas.</p>

	<p>No portal da REMO pode ser acessado um conjunto de previsões oceânicas de curto prazo – de até 7 dias – para o Oceano Atlântico  produzido diariamente pelos modelos oceânicos HYCOM e ROMS e campos de temperatura da superfície do mar produzidos com dados de sensoriamento remoto. Diversos outros produtos encontram-se em desenvolvimento e serão paulatinamente disponibilizados, entre eles, simulações de longo-prazo, análises objetivas produzidas por métodos de assimilação de dados e dados de altimetria.</p>
</div>

<center>
	<img src="../../../static/personal/images/antares.jpg" width="90%">
</center>

{% endblock %}